<div class="mt-3">
  <!-- <app-interpolation></app-interpolation> -->
  <!-- <app-class-style></app-class-style> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-two-way-data-binding></app-two-way-data-binding> -->
  <!-- <app-contador [value]="initialNumberContador" (changedValue)="alertValue($event.value)"></app-contador> -->
  <!-- <app-ngif [exibe]="false" ></app-ngif> -->
  <app-adiciona-curso></app-adiciona-curso>
  <app-ngfor></app-ngfor>
  <!-- <app-ng-switch></app-ng-switch> -->
  <!-- <app-ng-style></app-ng-style> -->
  <!-- <app-fundo-amarelo></app-fundo-amarelo> -->
</div>