<div class="mt-3">
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="two-way-data-binding" class="nav-link active">TwoWay-DataBinding</a>
      </li>
      <li class="nav-item">
        <a routerLink="interpolacao" class="nav-link active">interpolação</a>
      </li>
      <li class="nav-item">
        <a routerLink="binding-component" class="nav-link active">Binding-Component</a>
      </li>
      <li class="nav-item">
        <a routerLink="class-style" class="nav-link active">class-style</a>
      </li>
    </ul>
  </nav>
  <br>
  <router-outlet></router-outlet>
</div>