<div style="width: 300px; margin: 50px auto;">
  <h2>Login</h2>
  <div class="row">
    <div class="col-md-12 form-group">
      <input [(ngModel)]="usuario.nome" type="text" class="form-control" placeholder="Username">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <input [(ngModel)]="usuario.senha" (keyup.enter)="loginUsuario(usuario)" type="password" placeholder="Password" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <input type="submit" (click)="loginUsuario(usuario)" class="btn btn-primary btn-block" value="Entrar">
    </div>
  </div>
</div>