<div class="mt-3">
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="ngif" class="nav-link active">ngif</a>
      </li>
      <li class="nav-item">
        <a routerLink="ngswitch" class="nav-link active">ngswitch</a>
      </li>
      <li class="nav-item">
        <a routerLink="ngfor" class="nav-link active">ngfor</a>
      </li>
      <li class="nav-item">
        <a routerLink="ngstyle" class="nav-link active">ngstyle</a>
      </li>
      <li class="nav-item">
        <a routerLink="fundo-amarelo" class="nav-link active">diretivas customizadas</a>
      </li>
    </ul>
  </nav>
  <br>
  <main class="container">
    <router-outlet></router-outlet>
  </main>
</div>