<div>
  <h3>Class e Style Binding</h3>
  <div class="mt-4">
    Selecione uma classe:
    <select #classe (change)="0">
      <option value="alert-success">success</option>
      <option value="alert-info">info</option>
      <option value="alert-warning">warning</option>
      <option value="alert-danger">danger</option>
    </select>

    <br><br>
  
    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">success</div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">info</div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">warning</div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">danger</div>
  </div>
</div>